@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@layer base {
  html {
    @apply text-[62.5%];
  }

  body {
    @apply min-h-screen border border-b-8 border-primaryColor bg-strongWhite p-[3.2rem] py-[6rem] font-normal text-[#252525];
  }
}

.header {
  @apply self-stretch;
}

.header h1 {
  @apply relative block w-full text-center text-7xl font-light uppercase text-primaryColor;
}
.header h1::before,
.header h1::after {
  @apply absolute top-[calc(50%-1px)] block h-[3px] w-[4rem] bg-primaryColor content-[''];
}

.header h1::before {
  @apply left-0;
}
.header h1::after {
  @apply right-0;
}

.container {
  @apply mx-0 my-auto flex max-w-7xl flex-col items-center gap-20;
}

.menu {
  @apply flex flex-col items-center gap-8;
}

.menu h2 {
  @apply inline-block border border-x-0 border-y-0 border-current px-4 py-0 text-4xl font-normal uppercase tracking-widest;
}
.menu p {
  @apply w-4/5 text-center text-2xl;
}

.footer {
  @apply mt-2 flex w-full flex-col items-center justify-center p-5 text-center text-2xl;
}

.pizzas {
  @apply grid grid-cols-2 gap-4;
  /* list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem; */
}

.pizza {
  @apply flex flex-row gap-2;
  /* display: flex;
  gap: 3.2rem; */
}

.pizza img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  display: block;
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

/* *************** */

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}
